<div class="row" style="background-color: #D9F4E4;">
    <div class="col-12 ">
        <div class="card mt-5 ">
            <div class="card-body d-flex justify-content-between flex-wrap">
                <span class="mt-2 fs-4">ตั้งค่าเจ้าหน้าที่เขต</span> <button type="button" class="btn btn-success"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus"></i>
                    เพิ่มเจ้าหน้าที่</button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card  mt-1 mb-5 p-2">
            <!-- start table user -->
            <table id="staff_table" class="table display" style="width:100%">
                <thead>
                    <tr class="text-center">
                        <th>ชื่อผู้ใช้งาน</th>
                        <th>ชื่อ-นามสกุล</th>
                        <th>เขตที่รับผิดชอบ</th>
                        <th>สถานะ</th>
                        <th>เครื่องมือ</th>
                    </tr>
                </thead>
            </table>
            <!-- end table user -->
        </div>
    </div>
</div>

<!-- add staff Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered  modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เพิ่มเจ้าหน้าที่</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">ชื่อผู้ใช้งาน</label>
                            <input id="add_staff_username" type="text" placeholder="กรอกชื่อผู้ใช้งาน..."
                                class="form-control">
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">รหัสผ่าน</label>
                            <input id="add_staff_password" type="text" placeholder="กรอกรหัสผ่าน..."
                                class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-6">
                            <label class="form-label">คำนำหน้าชื่อ </label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input-add-staff-titlename" type="radio"
                                    name="inlineRadioOptions" id="inlineRadio1" value="นาย" checked>
                                <label class="form-check-label" for="inlineRadio1" check>นาย</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input-add-staff-titlename" type="radio"
                                    name="inlineRadioOptions" id="inlineRadio2" value="นาง">
                                <label class="form-check-label" for="inlineRadio2">นาง</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input-add-staff-titlename" type="radio"
                                    name="inlineRadioOptions" id="inlineRadio3" value="นางสาว">
                                <label class="form-check-label" for="inlineRadio3">นางสาว</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">ชื่อ</label>
                            <input id="add_staff_firstname" type="text" placeholder="กรอกชื่อ..." class="form-control">
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">นามสกุล</label>
                            <input id="add_staff_lastname" type="text" placeholder="กรอกนามสกุล..."
                                class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">เขตที่รับผิดชอบ</label>
                            <select id="add_staff_area_id" class="form-select" aria-label="Default select example">

                            </select>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">สถานะ</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input-add-staff-status" type="radio" name="inlineRadioOptions1"
                                    id="inlineRadio1" value="active" checked>
                                <label class="form-check-label" for="inlineRadio1">ใช้งาน</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input-add-staff-status" type="radio" name="inlineRadioOptions2"
                                    id="inlineRadio2" value="inactive">
                                <label class="form-check-label" for="inlineRadio2">ปิดการใช้งาน</label>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <div class="d-grid gap-2 col-xl-6 col-md-12 mx-auto p-2">
                    <button onclick="add_staff()" type="button" data-bs-dismiss="modal"
                        class="btn btn-success">บันทึก</button>
                </div>
                <div class="d-grid gap-2 col-xl-6 col-md-12 mx-auto p-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- edit staff Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered  modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">แก้ไขเจ้าหน้าที่</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <input type="hidden" id="edit_staff_id">
                            <input type="hidden" id="edit_staff_permission_id">
                            <label class="form-label">ชื่อผู้ใช้งาน</label>
                            <input id="staff_edit_username" type="text" placeholder="กรอกชื่อผู้ใช้งาน..."
                                value="Koya_000" class="form-control">
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">รหัสผ่าน</label>
                            <input id="staff_edit_password" type="text" placeholder="กรอกรหัสผ่าน..." value=""
                                class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-6">
                            <label class="form-label">คำนำหน้าชื่อ </label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input-edit-staff" type="radio" name="inlineRadioOptions"
                                    id="inlineRadio1" value="นาย">
                                <label class="form-check-label" for="inlineRadio1" check>นาย</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input-edit-staff" type="radio" name="inlineRadioOptions"
                                    id="inlineRadio2" value="นาง">
                                <label class="form-check-label" for="inlineRadio2">นาง</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input-edit-staff" type="radio" name="inlineRadioOptions"
                                    id="inlineRadio3" value="นางสาว">
                                <label class="form-check-label" for="inlineRadio3">นางสาว</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">ชื่อ</label>
                            <input id="staff_edit_firstname" type="text" placeholder="กรอกชื่อ..." value="สาวกอญ่า"
                                class="form-control">
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">นามสกุล</label>
                            <input id="staff_edit_lastname" type="text" placeholder="กรอกนามสกุล..." value="มัจฉะ"
                                class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">เขตที่รับผิดชอบ</label>
                            <select id="edit_staff_area_id" class="form-select" aria-label="Default select example">

                            </select>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">สถานะ</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-status-edit-staff" type="radio" name="inlineRadioOptions2"
                                    id="inlineRadio1" value="active" checked>
                                <label class="form-check-label" for="inlineRadio1">ใช้งาน</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-status-edit-staff" type="radio" name="inlineRadioOptions2"
                                    id="inlineRadio2" value="inactive">
                                <label class="form-check-label" for="inlineRadio2">ปิดการใช้งาน</label>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <div class="d-grid gap-2 col-xl-6 col-md-12 mx-auto p-2">
                    <button onclick="update_staff_by_id()" data-bs-dismiss="modal" type="button"
                        class="btn btn-success">บันทึก</button>
                </div>
                <div class="d-grid gap-2 col-xl-6 col-md-12 mx-auto p-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- view staff Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered  modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ดูรายละเอียดเจ้าหน้าที่</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">ชื่อผู้ใช้งาน</label>
                            <input id="staff_view_username" type="text" placeholder="กรอกชื่อผู้ใช้งาน..."
                                value="Koya_000" class="form-control" disabled>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">รหัสผ่าน</label>
                            <input id="staff_view_password" type="text" placeholder="กรอกรหัสผ่าน..." value="**********"
                                class="form-control" disabled>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">คำนำหน้าชื่อ</label>
                            <input id="staff_view_titlename" type="text" placeholder="กรอกชื่อผู้ใช้งาน..." value="นาย"
                                class="form-control" disabled>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">ชื่อ</label>
                            <input id="staff_view_firstname" type="text" placeholder="กรอกชื่อ..." value="สาวกอญ่า"
                                class="form-control" disabled>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">นามสกุล</label>
                            <input id="staff_view_lastname" type="text" placeholder="กรอกนามสกุล..." value="มัจฉะ"
                                class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">เขตที่รับผิดชอบ</label>
                            <input id="staff_view_area" type="text" placeholder="กรอกชื่อผู้ใช้งาน..."
                                value="ส่วนกลาง (เขต 1)" class="form-control" disabled>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">สถานะ</label>
                            <input id="staff_view_status" type="text" placeholder="กรอกชื่อผู้ใช้งาน..."
                                value="เปิดการใช้งาน" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-grid gap-2 col-xl-6 col-md-12 mx-auto p-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ย้อนกลับ</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#staff_table').DataTable({
        responsive: true,
        pageLength: 5,
        "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
        "ajax": {
            "url": baseUrlAPI + "User/get_staffs",
            "type": "POST"
        },
        "columnDefs": [{
            "targets": 0,
            "data": "username",
            "render": function (data, type, row, meta) {
                return '<div class="pl-5 d-flex justify-content-start align-items-center"><i class="bi bi-person-circle" style="font-size: 50px" ></i> &emsp; <span value="' + data + '">' + data + '</span></div>'

            }
        },
        {
            "targets": 1,
            "data": "firstname",
            "render": function (data, type, row, meta) {
                return `<div  class="d-flex justify-content-center mt-4"> <p> ${row.titlename + data + ' ' + row.lastname}</p> </div>`
            }
        },
        {
            "targets": 2,
            "data": "area",
            "render": function (data, type, row, meta) {
                return `<div  class="d-flex justify-content-center mt-4"> <p> ${data[0].title}</p> </div>`
            }
        },
        {
            "targets": 3,
            "data": "status",
            "render": function (data, type, row, meta) {
                return `<div class=" align-items-center mt-4 text-center">
                                        <span class="fs-6 badge ${data == 'inactive' ? 'bg-warning' : 'bg-success'}" value="${data}">${data == 'inactive' ? 'ปิดการใช้งาน' : 'เปิดการใช้งาน'}</span> 
                                    </div>`
            }
        },
        {
            "targets": 4,
            "data": "id",
            "render": function (data, type, row, meta) {
                return `
                        <div class="d-flex flex-wrap justify-content-evenly align-items-center">
                                <button style="min-width:155px;" class="mt-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-tools"></i> &nbspดำเนินการ
                                </button>
                                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
                                        <li >
                                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-toggle="modal" data-bs-target="#exampleModal3" href="#"><i class="bi bi-eye"></i> ดูรายละเอียด</a>
                                            </li>
                                        <li>
                                                <a  class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal2"  href="#"><i class="bi bi-pencil"></i> แก้ไข</a>
                                            </li>
                                    </ul>
                                <button  style="min-width:155px;" type="button" class="mt-3 btn btn-danger"><i class="bi bi-trash"></i> ลบ</button>
                            </div>
                            `
            }
        }
        ]
    });
    wait_load_page()

    $(function () {
        get_areas_select()
    });
</script>