<div class="row" style="background-color: #D9F4E4;">
    <div class="col-12">
        <div class="accordion mb-5 mt-5" id="accordionExample3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne3">
                    <button class="accordion-button fs-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                        จัดการคำนวณการผลิตน้ำ
                    </button>
                </h2>
                <div id="collapseOne3" class="accordion-collapse collapse show" aria-labelledby="headingOne3"
                    data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                        <div class="row ">
                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">น้ำขวดขนาด 350 มล. ต่อ 1 หน่วย</label>
                                    <div class="row">
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำดี</span>
                                            <input id="good_water_350_ml" placeholder="กรอกจำนวน..." value="500"
                                                type="number" class="form-control">
                                        </div>
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำเสีย</span>
                                            <input id="bad_water_350_ml" placeholder="กรอกจำนวน..." value="200"
                                                type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">น้ำขวดขนาด 750 มล. ต่อ 1 หน่วย</label>
                                    <div class="row">
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำดี</span>
                                            <input id="good_water_750_ml" placeholder="กรอกจำนวน..." value="900"
                                                type="number" class="form-control">
                                        </div>
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำเสีย</span>
                                            <input id="bad_water_750_ml" placeholder="กรอกจำนวน..." value="600"
                                                type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">น้ำขวดขนาด 1500 มล. ต่อ 1 หน่วย</label>
                                    <div class="row">
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำดี</span>
                                            <input id="good_water_1500_ml" placeholder="กรอกจำนวน..." value="1750"
                                                type="number" class="form-control">
                                        </div>
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำเสีย</span>
                                            <input id="bad_water_1500_ml" placeholder="กรอกจำนวน..." value="1150"
                                                type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">น้ำแกลอนขนาด 5 ล. ต่อ 1 หน่วย</label>
                                    <div class="row">
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำดี</span>
                                            <input id="good_water_5_l" placeholder="กรอกจำนวน..." value="17500"
                                                type="number" class="form-control">
                                        </div>
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำเสีย</span>
                                            <input id="bad_water_5_l" placeholder="กรอกจำนวน..." value="11500"
                                                type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">น้ำแกลอนขนาด 20 ล. ต่อ 1 หน่วย</label>
                                    <div class="row">
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำดี</span>
                                            <input id="good_water_20_l" placeholder="กรอกจำนวน..." value="47500"
                                                type="number" class="form-control">
                                        </div>
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำเสีย</span>
                                            <input id="bad_water_20_l" placeholder="กรอกจำนวน..." value="41500"
                                                type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-xl-6"></div>
                                <div class="d-grid gap-2 col-xl-6 col-md-12 ">
                                    <button style="background-color: #b955f5;" onclick="insert_configs()"
                                        class="btn text-light">บันทึก</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    get_configs()
    wait_load_page()
</script>