<div class="row" style="background-color: #D9F4E4;">
    <div class="col-12">
        <div class="accordion mt-5" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button fs-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        จัดการเเบบฟอร์ม
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ลำดับ</th>
                                    <th scope="col">พื้นที่เขต</th>
                                    <th scope="col">เครื่องมือ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th th scope="row">1</th>
                                    <th>ส่วนกลาง (เขต 1)</th>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                                checked>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th th scope="row">2</th>
                                    <th>สุพรรณ (เขต 2)</th>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                                checked>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                <tr>
                                    <th th scope="row">3</th>
                                    <th>สระบุรี (เขต 3)</th>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                                                checked>
                                        </div>
                                    </td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="accordion mt-5 mb-5" id="accordionExample2">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne2">
                    <button class="accordion-button fs-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                        จัดการผู้ดูเเลระบบ
                    </button>
                </h2>
                <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="row mb-3">
                                <div class="col-xl-6 col-sm-12">
                                    <label class="form-label">ชื่อผู้ใช้งาน</label>
                                    <input type="text" placeholder="กรอกชื่อผู้ใช้งาน..." class="form-control">
                                </div>
                                <div class="col-xl-6 col-sm-12">
                                    <label class="form-label">รหัสผ่าน</label>
                                    <input type="password" placeholder="กรอกรหัสผ่าน..." class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-xl-6 col-sm-6">
                                    <label class="form-label">คำนำหน้าชื่อ </label>
                                    <br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">นาย</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">นาง</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                            id="inlineRadio3" value="option3">
                                        <label class="form-check-label" for="inlineRadio3">นางสาว</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-xl-6 col-sm-12">
                                    <label class="form-label">ชื่อ</label>
                                    <input type="text" placeholder="กรอกชื่อ..." class="form-control">
                                </div>
                                <div class="col-xl-6 col-sm-12">
                                    <label class="form-label">นามสกุล</label>
                                    <input type="text" placeholder="กรอกนามสกุล..." class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-xl-6"></div>
                                <div class="d-grid gap-2 col-xl-6 col-md-12 ">
                                    <button style="background-color: #b955f5;" class="btn text-light">บันทึก</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="accordion mb-5" id="accordionExample3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne3">
                    <button class="accordion-button fs-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                        จัดการคำนวณการผลิตน้ำ
                    </button>
                </h2>
                <div id="collapseOne3" class="accordion-collapse collapse show" aria-labelledby="headingOne3"
                    data-bs-parent="#accordionExample3">
                    <div class="accordion-body">
                        <div class="row ">
                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">น้ำขวดขนาด 350 มล. ต่อ 1 หน่วย</label>
                                    <div class="row">
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำดี</span>
                                            <input placeholder="กรอกจำนวน..." value="500" type="number"
                                                class="form-control">
                                        </div>
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำเสีย</span>
                                            <input placeholder="กรอกจำนวน..." value="200" type="number"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">น้ำขวดขนาด 750 มล. ต่อ 1 หน่วย</label>
                                    <div class="row">
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำดี</span>
                                            <input placeholder="กรอกจำนวน..." value="900" type="number"
                                                class="form-control">
                                        </div>
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำเสีย</span>
                                            <input placeholder="กรอกจำนวน..." value="600" type="number"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">น้ำขวดขนาด 1500 มล. ต่อ 1 หน่วย</label>
                                    <div class="row">
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำดี</span>
                                            <input placeholder="กรอกจำนวน..." value="1750" type="number"
                                                class="form-control">
                                        </div>
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำเสีย</span>
                                            <input placeholder="กรอกจำนวน..." value="1150" type="number"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">น้ำแกลอนขนาด 5 ล. ต่อ 1 หน่วย</label>
                                    <div class="row">
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำดี</span>
                                            <input placeholder="กรอกจำนวน..." value="17500" type="number"
                                                class="form-control">
                                        </div>
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำเสีย</span>
                                            <input placeholder="กรอกจำนวน..." value="11500" type="number"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">น้ำแกลอนขนาด 20 ล. ต่อ 1 หน่วย</label>
                                    <div class="row">
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำดี</span>
                                            <input placeholder="กรอกจำนวน..." value="47500" type="number"
                                                class="form-control">
                                        </div>
                                        <div class="input-group col">
                                            <span class="input-group-text">น้ำเสีย</span>
                                            <input placeholder="กรอกจำนวน..." value="41500" type="number"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-xl-6"></div>
                                <div class="d-grid gap-2 col-xl-6 col-md-12 ">
                                    <button style="background-color: #b955f5;" class="btn text-light">บันทึก</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    $(() => {
        setTimeout(() => {
            loadingOverlay().cancel($state.loading);
        }, 1000);
    });
    $("html, body").animate({ scrollTop: 0 }, "slow");
</script>