<div class="row" style="background-color: #D9F4E4;">
    <div class="col-12">
        <div class="accordion mt-5 mb-5" id="accordionExample2">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne2">
                    <button class="accordion-button fs-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                        จัดการผู้ดูเเลระบบ
                    </button>
                </h2>
                <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2"
                    data-bs-parent="#accordionExample2">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="row mb-3">
                                <div class="col-xl-6 col-sm-12">
                                    <input id="admin_id" type="hidden" value="">
                                    <label class="form-label">ชื่อผู้ใช้งาน</label>
                                    <input id="admin_username" type="text" placeholder="กรอกชื่อผู้ใช้งาน..."
                                        class="form-control">
                                </div>
                                <div class="col-xl-6 col-sm-12">
                                    <label class="form-label">รหัสผ่าน</label>
                                    <input id="admin_password" type="text" placeholder="กรอกรหัสผ่าน..."
                                        class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-xl-6 col-sm-6">
                                    <label class="form-label">คำนำหน้าชื่อ </label>
                                    <br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input-admin" type="radio"
                                            name="inlineRadioOptionsAdmin" id="inlineRadio1" value="นาย">
                                        <label class="form-check-label" for="inlineRadio1">นาย</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input-admin" type="radio"
                                            name="inlineRadioOptionsAdmin" id="inlineRadio2" value="นาง">
                                        <label class="form-check-label" for="inlineRadio2">นาง</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input-admin" type="radio"
                                            name="inlineRadioOptionsAdmin" id="inlineRadio3" value="นางสาว">
                                        <label class="form-check-label" for="inlineRadio3">นางสาว</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-xl-6 col-sm-12">
                                    <label class="form-label">ชื่อ</label>
                                    <input id="admin_firstname" type="text" placeholder="กรอกชื่อ..."
                                        class="form-control">
                                </div>
                                <div class="col-xl-6 col-sm-12">
                                    <label class="form-label">นามสกุล</label>
                                    <input id="admin_lastname" type="text" placeholder="กรอกนามสกุล..."
                                        class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-xl-6"></div>
                                <div class="d-grid gap-2 col-xl-6 col-md-12 ">
                                    <button onclick="update_admin()" style="background-color: #b955f5;"
                                        class="btn text-light">บันทึก</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    get_admin()
    wait_load_page()
</script>