<div class="row pb-5 " style="background-color: #E2E9EF;">
    <div class="col-12 mt-1">
        <div class="card nook">
            <div class="card-header nook text-center">
                <h4 class="line nook fw-bold">
                    <span class="fs-3">&nbspลงทะเบียนขอรับน้ำดื่ม&nbsp</span>
                </h4>
            </div>

            <div class="card-body nook">
                <form id="water_application_form">

                    <div class="row nook ">
                        <div class="col-md-6">
                            <label for="water_application_district" class="form-label fw-bold">พื้นที่เขต</label>
                            <select name="water_application_district" id="water_application_area_id" class="form-select"
                                aria-label="Default select example">
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="water_application_province" class="form-label fw-bold">จังหวัด</label>
                            <select name="water_application_province" id="water_application_province_id" disabled
                                class="form-select" aria-label="Default select example">
                                <option value="-1">- โปรดเลือกพื้นที่เขตก่อน -</option>
                            </select>
                        </div>
                    </div>

                    <div class="row nook ">
                        <div class="col-md-6">
                            <label for="water_application_firstname" class="form-label fw-bold">ชื่อ</label>
                            <input name="water_application_firstname" type="text" class="form-control"
                                id="water_application_firstname" placeholder="กรอกชื่อ...">
                        </div>
                        <div class="col-md-6">
                            <label for="water_application_lastname" class="form-label fw-bold">นามสกุล</label>
                            <input name="water_application_lastname" type="text" class="form-control"
                                id="water_application_lastname" placeholder="กรอกนามสกุล...">
                        </div>
                    </div>

                    <div class="row nook ">
                        <div class="col-md-6">
                            <label for="water_application_telephone" class="form-label fw-bold">เบอร์โทรศัพท์</label>
                            <input name="water_application_telephone" type="text" class="form-control"
                                id="water_application_telephone" placeholder="กรอกเบอร์โทรศัพท์...">
                        </div>
                    </div>

                    <div class="row nook ">
                        <div class="col-md-12">
                            <label for="water_application_address" class="form-label fw-bold">ที่อยู่จัดส่ง</label>
                            <textarea name="water_application_address" class="form-control"
                                id="water_application_address" rows="3" placeholder="กรอกที่อยู่จัดส่ง..."></textarea>
                        </div>
                    </div>
                    <div class="row nook mt-5 d-flex justify-content-center">
                        <div class="card col-xl-4 col-md-12  border-3d p-0" style="width: 18rem;">
                            <img src="assets/images/water_sizes/350ml.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <label for="water_application_350_ml" class="form-label fw-bold">น้ำขวดขนาด 350
                                    มิลลิลิตร</label>
                                <input name="water_application_350_ml" type="number" class="form-control"
                                    id="water_application_water_350_ml" placeholder="กรอกจำนวน...">
                            </div>
                        </div>

                        <div class="card col-xl-4 col-md-12  border-3d p-0" style="width: 18rem;">
                            <img src="assets/images/water_sizes/350ml.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <label for="water_application_500_ml" class="form-label fw-bold">น้ำขวดขนาด 500
                                    มิลลิลิตร</label>
                                <input name="water_application_500_ml" type="number" class="form-control"
                                    id="water_application_water_500_ml" placeholder="กรอกจำนวน...">
                            </div>
                        </div>

                        <div class="card col-xl-4 col-md-12  border-3d p-0" style="width: 18rem;">
                            <img src="assets/images/water_sizes/750ml.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <label for="water_application_750_ml" class="form-label fw-bold">น้ำขวดขนาด 750
                                    มิลลิลิตร</label>
                                <input name="water_application_750_ml" type="number" class="form-control"
                                    id="water_application_water_750_ml" placeholder="กรอกจำนวน...">
                            </div>
                        </div>

                        <div class="card col-xl-4 col-md-12  border-3d p-0" style="width: 18rem;">
                            <img src="assets/images/water_sizes/1500ml.jpeg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <label for="water_application_1500_ml" class="form-label fw-bold">น้ำขวดขนาด 1500
                                    มิลลิลิตร</label>
                                <input name="water_application_1500_ml" type="number" class="form-control"
                                    id="water_application_water_1500_ml" placeholder="กรอกจำนวน...">
                            </div>
                        </div>

                        <div class="card col-xl-4 col-md-12  border-3d p-0" style="width: 18rem;">
                            <img src="assets/images/water_sizes/5l.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <label for="water_application_5_l" class="form-label fw-bold">น้ำแกลลอนขนาด 5
                                    ลิตร</label>
                                <input name="water_application_5_l" type="number" class="form-control"
                                    id="water_application_water_5_l" placeholder="กรอกจำนวน...">
                            </div>
                        </div>


                        <div class="card col-xl-4 col-md-12  border-3d p-0" style="width: 18rem;">
                            <img src="assets/images/water_sizes/20l.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <label for="water_application_20_l" class="form-label fw-bold">น้ำแกลลอนขนาด 20
                                    ลิตร</label>
                                <input name="water_application_20_l" type="number" class="form-control"
                                    id="water_application_water_20_l" placeholder="กรอกจำนวน...">
                            </div>
                        </div>

                        <div class="card col-xl-4 col-md-12  border-3d p-0" style="width: 18rem;">
                            <img src="assets/images/water_sizes/else.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <label for="water_application_water_else_l" class="form-label fw-bold">อื่น ๆ</label>
                                <input name="water_application_water_else_l" type="number" class="form-control"
                                    id="water_application_water_else_l" placeholder="กรอกจำนวนลิตร...">
                            </div>
                        </div>

                    </div>
                </form>

                <div class="card-footer nook text-center">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button onclick="insert_request_form_people()" class="btn btn-success">บันทึก</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<script type="text/javascript">
    wait_load_page()
    $(function () {
        get_areas_select('#water_application_area_id', true)
        // get_province_select('#water_application_province_id')
    });
    $('#water_application_area_id').change(function (e) {
        e.preventDefault();
        $('#water_application_province_id').prop("disabled", false); 
        get_province_select('#water_application_province_id')
    });
</script>

<style>
    .border-3d {
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
        border-radius: 10px;
        margin-left: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
    }

    .card.nook {
        margin-left: 8%;
        margin-right: 8%;
        border: none;
    }

    .card-header.nook,
    .card-body.nook,
    .card-footer.nook {
        border: none;
        background-color: #e2e9ef;
    }



    .line.nook {
        display: block;
        height: 10px;
        border-bottom: solid 3px gray;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .line.nook span {
        display: inline-block;
        background-color: #e2e9ef;
    }
</style>