<div class="row">
    <div class="d-flex flex-row bg-success justify-content-end col-12 text-light mb-5">
        <div class="p-2 bd-highlight">Recommended Browser</div>
        <div class="p-2 bd-highlight">
            <div>
                <img style="width: auto; max-height: 25px;" src="assets/images/themes/google_chrome_icon.png"
                    class="rounded mx-auto d-block" alt="...">
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div>
                <img style="width: auto; max-height: 25px;" src="assets/images/themes/fire_fox_icon.png"
                    class="rounded mx-auto d-block" alt="...">
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div>
                <img style="width: auto; max-height: 25px;" src="assets/images/themes/edge_icon.png"
                    class="rounded mx-auto d-block" alt="...">
            </div>
        </div>
    </div>
</div>
<h1 class="text-center">ศูนย์เรียนรู้ในการบริหารจัดการทรัพยากรน้ำบาดาล</h1>
<div class="row mb-5 ">
    <div class="col-md-12 col-xl-6 d-flex justify-content-center">
        <img style="max-height: 500px;" src="assets/images/themes/mnre-logo.png" class="img-fluid rounded pt-5"
            alt="...">
    </div>
    <div class="col-md-12 col-xl-6 d-flex justify-content-center">
        <img style="max-height: 500px;" src="assets/images/themes/dgr-logo.png" class="img-fluid rounded pt-5"
            alt="...">
    </div>
</div>
<div class="row text-light d-flex align-items-center">
    <div class="col-md-12 col-xl-6 home-menu-left text-end ">
        <h1 class="mb-3">การบริหารจัดการ</h1>
        <button onclick="app.setLocation('#/management')" type="button" class="btn btn-danger mb-3">
            <span class="fs-5">คลิกที่นี้ เพื่อเข้าสู่การบริหารจัดการ</span>
        </button>
        <h5 class="mb-3">กำลังการผลิต สต๊อกขวด การแจกจ่าย การบำรุงรักษา</h5>
    </div>
    <div class="col-md-12 col-xl-6 home-menu-right text-strat">
        <h1 class="mb-3">สำหรับประชาชน</h1>
        <button onclick="app.setLocation('#/people')" type="button" class="btn btn-danger mb-3"><span
                class="fs-5">คลิกที่นี้
                เพื่อเข้าสู่สำหรับประชาชน</span></button>
        <h5 class="mb-3">ความรู้ทั่วไป และบริการของกรมทรัพยากรน้ำบาดาล</h5>
    </div>
</div>
<style>
    img {
        max-width: 500px;
    }

    .home-menu-right,
    .home-menu-left {
        padding-top: 10rem;
        min-height: 500px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-menu-right {
        padding-left: 3rem;
        background-image: url('assets/images/themes/home-menu-right.png');
    }

    .home-menu-left {
        padding-right: 3rem;
        background-image: url('assets/images/themes/home-menu-left.png');
    }
</style>

<script>
    $('#goToManage').click(function (e) {
        e.preventDefault();
        if ($state.user.token) {
            app.setLocation('#/people');
        } else {
            app.setLocation('#/auth');
        }
        console.log($state.user);
    });
    wait_load_page()
</script>