<div class="row">
    <div class="d-flex flex-row bg-success justify-content-end col-12 text-light mb-2">
        <div class="p-2 bd-highlight">Recommended Browser</div>
        <div class="p-2 bd-highlight">
            <div>
                <img style="width: auto; max-height: 25px;" src="assets/images/homes/google_chrome_icon.png"
                    class="rounded mx-auto d-block" alt="...">
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div>
                <img style="width: auto; max-height: 25px;" src="assets/images/homes/fire_fox_icon.png"
                    class="rounded mx-auto d-block" alt="...">
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div>
                <img style="width: auto; max-height: 25px;" src="assets/images/homes/edge_icon.png"
                    class="rounded mx-auto d-block" alt="...">
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-row  flex-wrap justify-content-center align-items-center mb-2">
    <div class="col-md-12 col-xl-1 d-flex justify-content-center">
        <img style="max-height: 100px;" src="assets/images/homes/mnre-logo.png" class="img-fluid rounded" alt="...">
    </div>
    <span class="fs-1">ศูนย์เรียนรู้ในการบริหารจัดการทรัพยากรน้ำบาดาล</span>
    <div class="col-md-12 col-xl-1 d-flex justify-content-center">
        <img style="max-height: 100px;" src="assets/images/homes/dgr-logo.png" class="img-fluid rounded" alt="...">
    </div>
</div>
<div class="row text-light d-flex align-items-center">
    <div class="col-md-12 col-xl-6 home-menu-left text-center ">
        <h1 class="mb-3">ลงทะเบียนขอรับน้ำดื่ม</h1>
        <button onclick="app.setLocation('#/form-home')" type="button" class="btn btn-primary mb-3">
            <span class="fs-5">คลิกที่นี่ เพื่อเข้าสู่ลงทะเบียนขอรับน้ำดื่ม</span>
        </button>
        <h5 class="mb-3">ลงทะเบียนขอรับน้ำดื่ม ของกรมทรัพยากรน้ำบาดาล</h5>
    </div>
    <div class="col-md-12 col-xl-6 home-menu-right text-center">
        <h1 class="mb-3">สำหรับประชาชน</h1>
        <button onclick="app.setLocation('#/people')" type="button" class="btn btn-primary mb-3"><span
                class="fs-5">คลิกที่นี่
                เพื่อเข้าสู่สำหรับประชาชน</span></button>
        <h5 class="mb-3">ความรู้ทั่วไป และบริการของกรมทรัพยากรน้ำบาดาล</h5>
    </div>
</div>

<div class="row text-light d-flex align-items-center">
    <div class="col-md-12 col-xl-6 home-menu-left2 text-center ">
        <h1 class="mb-3">การบริหารจัดการ</h1>
        <button onclick="app.setLocation('#/management')" type="button" class="btn btn-primary mb-3">
            <span class="fs-5">คลิกที่นี่ เพื่อเข้าสู่การบริหารจัดการ</span>
        </button>
        <h5 class="mb-3">กำลังการผลิต สต๊อกขวด การแจกจ่าย การบำรุงรักษา</h5>
    </div>
    <div class="col-md-12 col-xl-6 home-menu-right2 text-center">
        <h1 class="mb-3">สำหรับเจ้าหน้าที่</h1>
        <button onclick="app.setLocation('#/auth')" type="button" class="btn btn-danger mb-3"><span
                class="fs-5">คลิกที่นี่
                เพื่อเข้าสู่ระบบภายใน</span></button>
        <h5 class="mb-3">คลังข้อมูลกำลังผลิตน้ำ จัดการคำนวณกำลังผลิต</h5>
    </div>
</div>



<style>
    img {
        max-width: 500px;
    }

    .home-menu-right,
    .home-menu-right2,
    .home-menu-left2,
    .home-menu-left {
        padding-top: 10rem;
        min-height: 405px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-menu-right {
        padding-left: 3rem;
        background-image: url('assets/images/homes/home-menu-right.jpg');
    }
    .home-menu-left {
        padding-right: 3rem;
        background-image: url('assets/images/homes/home-menu-left.jpg');
    }

    .home-menu-left2 {
        padding-right: 3rem;
        background-image: url('assets/images/homes/home-menu-right2.jpg');
    }
    .home-menu-right2 {
        padding-left: 3rem;
        background-image: url('assets/images/forms/home-menu-left.jpg');
    }
</style>

<script>
    $('#goToManage').click(function (e) {
        e.preventDefault();
        if ($state.user.token) {
            app.setLocation('#/people');
        } else {
            app.setLocation('#/auth');
        }
        console.log($state.user);
    });
    wait_load_page()
</script>