<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="assets/images/themes/people-01.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>สำหรับประชาชน</h5>
                <p>ความรู้ทั่วไป และบริการของกรมทรัพยากรน้ำบาดาล</p>
            </div>
        </div>
        <div class="carousel-item active">
            <img src="assets/images/themes/management-01.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>การบริหารจัดการ</h5>
                <p>กำลังการผลิต สต๊อกขวด การแจกจ่าย การบำรุงรักษา</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/themes/data-01.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>คลังข้อมูลกำลังน้ำผลิต</h5>
                <p>คลังข้อมูลกำลังน้ำผลิตของกรมทรัพยากรน้ำบาดาล</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center mt-5 mb-5 ">
    <span class="fs-1">กำลังการผลิตตั้งแต่วันเริ่มต้นจนถึงวันที่ 9 มิถุนายน พ.ศ. 2564</span>
    <div class="row">
        <div class="d-flex justify-content-center flex-wrap">
            <select class="mt-3 form-select form-select-sm" aria-label=".form-select-sm example"
                style="max-width: 15rem;">
                <option selected value="1">ส่วนกลาง (เขต 1)</option>
                <option value="2">สุพรรณ (เขต 2)</option>
                <option value="3">สระบุรี (เขต 3)</option>
            </select>
            &nbsp;&nbsp;
            <input type="date" class="mt-3  form-control" style="max-width: 15rem;">
            &nbsp;&nbsp;
            <select class="mt-3  form-select form-select-sm" aria-label=".form-select-sm example"
                style="max-width: 15rem;">
                <option selected value="1">สะสมทั้งหมด</option>
                <option value="2">ขวด 350 มล.</option>
                <option value="3">ขวด 750 มล.</option>
                <option value="4">ขวด 1500 มล.</option>
                <option value="5">แกลอน 5 ล.</option>
                <option value="6">แกลอน 20 ล.</option>
            </select>
            &nbsp;&nbsp;
            <button style="max-width: 15rem;" type="button" class="mt-3  col-12 btn btn-success">ค้นหา</button>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-around">
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-1.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h2 class="card-title">น้ำทั้งหมด</h2>
            <p class="card-text">5000 หน่วย</p>
        </div>
    </div>
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-2.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h2 class="card-title">ขวด 350 มล.</h2>
            <p class="card-text">1000 หน่วย</p>
        </div>
    </div>
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-2.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h2 class="card-title">ขวด 750 มล.</h2>
            <p class="card-text">500 หน่วย</p>
        </div>
    </div>
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-2.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h2 class="card-title">ขวด 1500 มล.</h2>
            <p class="card-text">250 หน่วย</p>
        </div>
    </div>
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-3.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h2 class="card-title">แกลอน 5 ล.</h2>
            <p class="card-text">125 หน่วย</p>
        </div>
    </div>
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-3.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h2 class="card-title">แกลอน 20 ล.</h2>
            <p class="card-text">75 หน่วย</p>
        </div>
    </div>
</div>

<div class="row pb-5 " style="background-color: #E2E9EF;">
    <div class="col-12 text-start mt-5">
        <span class=" fs-2">กำลังการผลิตน้ำทั้งหมด</span>
    </div>
    <div class="col-12 text-start mb-1 ">
        <div class="clearfix"></div>
        <div id="donutchart" style=" width: 100%; min-height: 450px; display: inline-block; margin: 0 auto;"></div>
    </div>

    <div class="col-12 text-start mt-5">
        <span class=" fs-2">คุณภาพของน้ำทั้งหมด</span>
    </div>
    <div class="col-12 text-start mb-1 ">
        <div class="clearfix"></div>
        <div id="curve_chart" style=" width: 100%; min-height: 450px; display: inline-block; margin: 0 auto;"></div>
    </div>

    <div class="col-12 mt-5">
        <div class="all nook">
            <div class="card nook">
                <div class="card-header nook text-center">
                    <h4 class="line nook fw-bold">
                        <span class="fs-2 "> ลงทะเบียนขอรับน้ำดื่ม </span>
                    </h4>
                </div>

                <div class="card-body nook">

                    <form id="water_application_form">
                        <div class="row nook g-3">
                            <div class="col-md-6">
                                <label for="water_application_firstname" class="form-label fw-bold">ชื่อ</label>
                                <input name="water_application_firstname" type="text" class="form-control"
                                    id="water_application_firstname" placeholder="กรอกชื่อ...">
                            </div>
                            <div class="col-md-6">
                                <label for="water_application_lastname" class="form-label fw-bold">นามสกุล</label>
                                <input name="water_application_lastname" type="text" class="form-control"
                                    id="water_application_lastname" placeholder="กรอกนามสกุล...">
                            </div>
                        </div>

                        <div class="row nook g-3">
                            <div class="col-md-6">
                                <label for="water_application_telephone"
                                    class="form-label fw-bold">เบอร์โทรศัพท์</label>
                                <input name="water_application_telephone" type="text" class="form-control"
                                    id="water_application_telephone" placeholder="กรอกเบอร์โทรศัพท์...">
                            </div>
                            <div class="col-md-6">
                                <label for="water_application_district" class="form-label fw-bold">พื้นที่เขต</label>
                                <select name="water_application_district" id="water_application_district"
                                    class="form-select" aria-label="Default select example">
                                    <option selected value="1">ส่วนกลาง (เขต 1)</option>
                                    <option value="2">สุพรรณ (เขต 2)</option>
                                    <option value="3">สระบุรี (เขต 3)</option>
                                </select>
                            </div>
                        </div>

                        <div class="row nook g-3">
                            <div class="col-md-12">
                                <label for="water_application_address" class="form-label fw-bold">ที่อยู่</label>
                                <textarea name="water_application_address" class="form-control"
                                    id="water_application_address" rows="3" placeholder="กรอกที่อยู่..."></textarea>
                            </div>
                        </div>

                        <div class="row nook g-3">
                            <div class="col-md-6">
                                <label for="water_application_350_ml" class="form-label fw-bold">น้ำขวดขนาด 350
                                    มล.</label>
                                <input name="water_application_350_ml" type="number" class="form-control"
                                    id="water_application_350_ml" placeholder="กรอกจำนวน">
                            </div>
                            <div class="col-md-6">
                                <label for="water_application_750_ml" class="form-label fw-bold">น้ำขวดขนาด 750
                                    มล.</label>
                                <input name="water_application_750_ml" type="number" class="form-control"
                                    id="water_application_750_ml" placeholder="กรอกจำนวน">
                            </div>
                        </div>

                        <div class="row nook g-3">
                            <div class="col-md-6">
                                <label for="water_application_1500_ml" class="form-label fw-bold">น้ำขวดขนาด 1500
                                    มล.</label>
                                <input name="water_application_1500_ml" type="number" class="form-control"
                                    id="water_application_1500_ml" placeholder="กรอกจำนวน">
                            </div>
                            <div class="col-md-6">
                                <label for="water_application_5_l" class="form-label fw-bold">น้ำขวดขนาด 5 ล.</label>
                                <input name="water_application_5_l" type="number" class="form-control"
                                    id="water_application_5_l" placeholder="กรอกจำนวน">
                            </div>
                        </div>

                        <div class="row nook g-3">
                            <div class="col-md-6">
                                <label for="water_application_20_l" class="form-label fw-bold">น้ำขวดขนาด 20 ล.</label>
                                <input name="water_application_20_l" type="number" class="form-control"
                                    id="water_application_20_l" placeholder="กรอกจำนวน">
                            </div>
                        </div>

                        <div class="row nook g-3">
                            <div class="col-md-6">
                                <div class="form-check nook">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label fw-bold" for="gridCheck">
                                        ข้าพเจ้ายอมรับทุกอย่างว่าเป็นความจริง
                                    </label>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="card-footer nook text-center">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-success" id="water_application_form_submit">บันทึก</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart'] })
    google.charts.setOnLoadCallback(drawChart)
    function drawChart() {
        data = google.visualization.arrayToDataTable([
            ['คุณภาพของน้ำ', 'หน่วย'],
            ['350 มล.', 2000],
            ['750 มล.', 2000],
            ['1500 มล.', 2000],
            ['5 ล.', 2000],
            ['20 ล.', 2000]
        ])

        var options = {
            titlePosition: 'none',
            pieHole: 0.4
        }

        var chart = new google.visualization.PieChart(
            document.getElementById('donutchart')
        )
        chart.draw(data, options)

        data = google.visualization.arrayToDataTable([
            ['วันที่', 'น้ำดี', 'น้ำเสีย'],
            ['วันที่ 4', 200, 50],
            ['วันที่ 5', 400, 100],
            ['วันที่ 6', 600, 150],
            ['วันที่ 7', 800, 200],
            ['วันที่ 8', 800, 200],
            ['วันที่ 9', 800, 200],
        ])

        var options = {
            titlePosition: 'none',
            curveType: 'function',
            legend: { position: 'bottom' }
        }

        var chart = new google.visualization.LineChart(
            document.getElementById('curve_chart')
        )

        chart.draw(data, options)
    }

    $(window).resize(function () {
        drawChart();
    });
    wait_load_page()
</script>

<style>
    .border-3d {
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
        border-radius: 10px;
        margin-left: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
    }

    .card.nook {
        margin-left: 8%;
        margin-right: 8%;
        border: none;
    }

    .card-header.nook,
    .card-body.nook,
    .card-footer.nook {
        border: none;
        background-color: #e2e9ef;
    }

    .row.nook {
        padding: 5px;
    }

    .all.nook {
        background-color: #e2e9ef;
    }

    .line.nook {
        display: block;
        height: 10px;
        border-bottom: solid 3px gray;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .line.nook span {
        display: inline-block;
        background-color: #e2e9ef;
        padding: 0 20px;
    }

    .form-check.nook {
        padding-top: 5px;
    }
</style>