<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="assets/images/themes/people-01.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>สำหรับประชาชน</h5>
                <p>ความรู้ทั่วไป และบริการของกรมทรัพยากรน้ำบาดาล</p>
            </div>
        </div>
        <div class="carousel-item active">
            <img src="assets/images/themes/management-01.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>การบริหารจัดการ</h5>
                <p>กำลังการผลิต สต๊อกขวด การแจกจ่าย การบำรุงรักษา</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/themes/data-01.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>คลังข้อมูลกำลังน้ำผลิต</h5>
                <p>คลังข้อมูลกำลังน้ำผลิตของกรมทรัพยากรน้ำบาดาล</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center mt-5 mb-5 ">
    <span class="fs-1">กำลังการผลิตตั้งแต่วันเริ่มต้นจนถึงวันที่ <span class="showDate"></span></span>
    <div class="row">
        <div class="d-flex justify-content-center flex-wrap">
            <select id="area_id_select" class="mt-3 form-select form-select-sm" aria-label=".form-select-sm example"
                style="max-width: 20rem;">
                <option selected value="1">สำนักทรัพยากรน้ำบาดาล เขต 1 (ลำปาง)</option>
                <option value="2">สำนักทรัพยากรน้ำบาดาล เขต 2 (สุพรรณบุรี)</option>
                <option value="3">สำนักทรัพยากรน้ำบาดาล เขต 3 (สระบุรี)</option>
                <option value="4">สำนักทรัพยากรน้ำบาดาล เขต 4 (ขอนแก่น)</option>
                <option value="5">สำนักทรัพยากรน้ำบาดาล เขต 5 (นครราชสีมา)</option>
                <option value="6">สำนักทรัพยากรน้ำบาดาล เขต 6 (ตรัง)</option>
                <option value="7">สำนักทรัพยากรน้ำบาดาล เขต 7 (กำแพงเพชร)</option>
                <option value="8">สำนักทรัพยากรน้ำบาดาล เขต 8 (ราชบุรี)</option>
                <option value="9">สำนักทรัพยากรน้ำบาดาล เขต 9 (ระยอง)</option>
                <option value="10">สำนักทรัพยากรน้ำบาดาล เขต 10 (อุดรธานี)</option>
                <option value="11">สำนักทรัพยากรน้ำบาดาล เขต 11(อุบลราชธานี)</option>
                <option value="12">สำนักทรัพยากรน้ำบาดาล เขต 12 (สงขลา)</option>
            </select>
            &nbsp;&nbsp;
            <input type="date" class="mt-3  form-control selector_date" style="max-width: 15rem;">

            &nbsp;&nbsp;
            <button onclick="get_summary_by_date()" style="max-width: 15rem;" type="button"
                class="mt-3  col-12 btn btn-success">ค้นหา</button>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-around">
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-1.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <p class="card-text">น้ำทั้งหมด</p>
            <h1 class="card-title"><span id="dashboard_sum_all_water"></span> หน่วย</h1>
        </div>
    </div>
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <p class="card-title">ขวด 350 มล.</ย>
            <h1 class="card-text"><span id="dashboard_sum_water_350_ml"></span> ขวด</h1>
        </div>
    </div>
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <p class="card-title">ขวด 750 มล.</p>
            <h1 class="card-text"><span id="dashboard_sum_water_750_ml"></span> ขวด</h1>
        </div>
    </div>
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-2.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <p class="card-title">ขวด 1500 มล.</p>
            <h1 class="card-text"><span id="dashboard_sum_water_1500_ml"></span> ขวด</h1>
        </div>
    </div>
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-3.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <p class="card-title">แกลอน 5 ล.</p>
            <h1 class="card-text"><span id="dashboard_sum_water_5_l"></span> แกลอน</h1>
        </div>
    </div>
    <div class="card col-xl-6 col-md-12  border-3d p-0" style="width: 24rem;">
        <img src="assets/images/themes/band-water-3.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <p class="card-title">แกลอน 20 ล.</p>
            <h1 class="card-text"><span id="dashboard_sum_water_20_l"></span> แกลอน</h1>
        </div>
    </div>
</div>

<div class="row pb-5" style="background-color: #E2E9EF;">

    <div class="col-12 text-start mb-1 mt-5">
        <div class="clearfix"></div>
        <div id="bar_hart" style=" width: 100%; min-height: 450px; display: inline-block; margin: 0 auto;"></div>
    </div>

    <div class="col-12 text-start mb-1 mt-4">
        <div class="clearfix"></div>
        <div id="curve_chart" style=" width: 100%; min-height: 450px; display: inline-block; margin: 0 auto;"></div>
    </div>
</div>

<script type="text/javascript">
    dashboard_sum_water_350_ml = 0
    dashboard_sum_water_750_ml = 0
    dashboard_sum_water_1500_ml = 0
    dashboard_sum_water_5_l = 0
    dashboard_sum_water_20_l = 0
    dashboard_sum_all_water = 0
    // set01 = ['0000-00-00 00:00:00', 0, 0]
    // set02 = ['0000-00-00 00:00:00', 0, 0]
    // set03 = ['0000-00-00 00:00:00', 0, 0]
    // set04 = ['0000-00-00 00:00:00', 0, 0]
    // set05 = ['0000-00-00 00:00:00', 0, 0]
    // set06 = ['0000-00-00 00:00:00', 0, 0]
    // set07 = ['0000-00-00 00:00:00', 0, 0]
    line_data = []

    google.charts.load('current', { packages: ['corechart'] })
    google.charts.setOnLoadCallback(drawChart)
    function drawChart() {
        data = google.visualization.arrayToDataTable([
            ['ขนาดบรรจุภัณฑ์', 'กำลังการผลิต(หน่วย)', { role: 'style' }],
            ['ขวด 350 มล.', dashboard_sum_water_350_ml, '#3366cc'],            // RGB value
            ['ขวด 750 มล.', dashboard_sum_water_750_ml, '#dc3912'],            // English color name
            ['ขวด 1500 มล.', dashboard_sum_water_1500_ml, '#ff9900'],
            ['แกลอน 5 ล.', dashboard_sum_water_5_l, '#109618'], // CSS-style declaration
            ['แกลอน 20 ล.', dashboard_sum_water_20_l, '#990099'], // CSS-style declaration
        ]);

        options = {
            title: 'กำลังการผลิตน้ำทั้งหมด',
            legend: 'none'
        };

        chart = new google.visualization.BarChart(document.getElementById('bar_hart'));
        chart.draw(data, options)

        data = google.visualization.arrayToDataTable([
            ['วันที่', 'น้ำดี', 'น้ำเสีย'],
            ...line_data
        ])

        options = {
            title: 'คุณภาพของน้ำทั้งหมด',
            // titlePosition: 'none',
            curveType: 'function',
            legend: { position: 'bottom' }
        }

        chart = new google.visualization.LineChart(
            document.getElementById('curve_chart')
        )

        chart.draw(data, options)
    }
    $(window).resize(function () {
        if ($('#bar_hart')[0]) {
            drawChart();
        }
    });

    wait_load_page()

    date = new Date().toISOString().substr(0, 10)
    $('.selector_date').val(date);
    date2 = new Date(...date.split("-"))
    result2date = date2.toLocaleDateString('th-TH', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
    })
    $('.showDate').text(result2date)
    get_summary_by_date()
</script>

<style>
    .border-3d {
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
        border-radius: 10px;
        margin-left: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
    }

    .card.nook {
        margin-left: 8%;
        margin-right: 8%;
        border: none;
    }

    .card-header.nook,
    .card-body.nook,
    .card-footer.nook {
        border: none;
        background-color: #e2e9ef;
    }

    .row.nook {
        padding: 5px;
    }

    .all.nook {
        background-color: #e2e9ef;
    }

    .line.nook {
        display: block;
        height: 10px;
        border-bottom: solid 3px gray;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .line.nook span {
        display: inline-block;
        background-color: #e2e9ef;
        padding: 0 20px;
    }

    .form-check.nook {
        padding-top: 5px;
    }
</style>