<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/themes/people-01.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>สำหรับประชาชน</h5>
                <p>ความรู้ทั่วไป และบริการของกรมทรัพยากรน้ำบาดาล</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/themes/management-01.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>การบริหารจัดการ</h5>
                <p>กำลังการผลิต สต๊อกขวด การแจกจ่าย การบำรุงรักษา</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/themes/data-01.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>คลังข้อมูลกำลังน้ำผลิต</h5>
                <p>คลังข้อมูลกำลังน้ำผลิตของกรมทรัพยากรน้ำบาดาล</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center mt-5 mb-5 ">
    <span class="border-bottom border-5 fs-1">กรมทรัพยากรน้ำบาดาล</span>
</div>

<div class=" ratio ratio-16x9">
    <iframe src="https://www.youtube.com/embed/OkM1-tIkU34" title="YouTube video" allowfullscreen></iframe>
</div>

<div class="text-center mt-5 ">
    <span class=" fs-4">วิสัยทัศน์</span>
</div>
<div class="text-center mb-5 ">
    <span class=" fs-6">“มุ่งสู่การบริหารจัดการทรัพยากรน้ำบาดาล
        เชิงพื้นที่เพื่อเสริมความมั่นคงด้านน้ำและการใช้ประโยชน์อย่างสมดุลและยั่งยืน ภายในปี 2580”</span>
</div>


<div class="row pb-5" style="background-color: #E2E9EF;">
    <div class="col-12 text-center mb-5 mt-5">
        <span class=" fs-1">สำหรับประชาชน ความรู้ทั่วไป และการบริหารของกรมทรัพยากรน้ำบาดาล</span>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://app.dgr.go.th/newpasutara/xml/`),'_blank'" class="col-md-12 col-xl-6 pointer">

        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-water"></i></div>
                <div class="col  bg-info fs-6 d-flex align-items-center"><span>ข้อมูลบ่อน้ำบาดาล</span></div>
            </div>
        </div>

    </div>
    <!-- card -->
    <div onclick="window.open(`http://report.dgr.go.th/project/63/2563_09_P63_FW530_F.php`),'_blank'"
        class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-gear"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center"><span>ระบบเติมน้ำใต้ดินระดับตื้น
                        ในพื้นที่แหล่งน้ำบาดาลเจ้าพระยาตอนบน และจันทบุรี -
                        ตราด</span></div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://1310.dgr.go.th/baac/baac_Main.php`),'_blank'" class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-bank"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center"><span>ความร่วมมือระหว่างกรมทรัพยากรน้ำบาดาลกับ
                        ธกส.</span></div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://1310.dgr.go.th/dashboard/`),'_blank'" class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-exclamation-triangle-fill"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>ศูนย์เฉพาะกิจช่วยเหลือประชาชนในสถาณการณ์ภัยแล้ง</span>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://report.dgr.go.th/project/63/2563_01_P63_RD24_F.php#`),'_blank'"
        class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-broadcast-pin"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>จุดจ่ายน้ำริมทาง บริการประชาชน</span>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://smartgis.dgr.go.th/dgr_gis/map/`),'_blank'" class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-pin-map"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>ที่ตั้งโครงการ</span>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://tgms.dgr.go.th/#/home`),'_blank'" class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-eyeglasses"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>บ่อสังเกตการณ์</span>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://1310.dgr.go.th/dashboard/results.php`),'_blank'"
        class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-newspaper"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>สรุปผลการช่วยเหลือประชาชนในสถานการณ์ภัยแล้ง</span>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://www.dgr.go.th/th/newsAll/261`),'_blank'" class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-book"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>ความรู้ในการเติมน้ำใต้ดิน</span>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://www.dgr.go.th/th/newsAll/124`),'_blank'" class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-image"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>Infographics และข้อมูลน้ำบาดาล (ฉบับย่อ)</span>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://www.dgr.go.th/th/public-service/297`),'_blank'"
        class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-map"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>แผนที่ปริมาณศักยภาพน้ำบาดาล</span>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://www.dgr.go.th/th/public-service/38`),'_blank'" class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-screwdriver"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>การเจาะบ่อน้ำบาดาลและขออนุญาตใช้</span>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://www.dgr.go.th/th/public-service/42`),'_blank'" class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-shield-exclamation"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>พรบ. น้ำบาดาล</span>
                </div>
            </div>
        </div>
    </div>
    <!-- card -->
    <div onclick="window.open(`http://www.dgr.go.th/th/newsAll/`),'_blank'" class="col-md-12 col-xl-6 pointer">
        <div class="p-2">
            <div class="row border border-3 border-info rounded-3">
                <div style="height: 70px;"
                    class="col-md-1 col-sm-2 bg-light fs-1  d-flex align-items-center justify-content-center"><i
                        class="bi bi-bookmark"></i></div>
                <div class="col bg-info fs-6 d-flex align-items-center">
                    <span>อื่นๆ</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        setTimeout(() => {
            loadingOverlay().cancel($state.loading);
        }, 1000);
    });
    $("html, body").animate({ scrollTop: 0 }, "slow");
</script>

<style>
    .dgr-btn {
        display: inline-block;
        color: #444;
        border: 1px solid #CCC;
        background: #DDD;
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        vertical-align: middle;
        max-width: 100px;
        padding: 5px;
        text-align: center;
    }

    .dgr-btn:active {
        color: red;
        box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
    }
</style>