<div class="text-center mt-5 mb-5 ">
    <span class="fs-1">รายการลงทะเบียนขอรับน้ำดื่ม<span class="title_area"></span></span>
</div>

<div class="row pb-5 ">
    <!-- start table user -->
    <table id="table_water_application_management" class="table display" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>ผู้ลงทะเบียน</th>
                <th>จังหวัด</th>
                <th>ขวด 350 มล.</th>
                <th>ขวด 750 มล.</th>
                <th>ขวด 1,500 มล.</th>
                <th>แกลอน 5 ล.</th>
                <th>แกลอน 20 ล.</th>
                <th>วันที่ลงทะเบียน</th>
                <th>สถานะ</th>
                <th>เครื่องมือ</th>
            </tr>
        </thead>
    </table>
    <!-- end table user -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered  modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ข้อมูลลงทะเบียนขอรับน้ำดื่ม</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">เขตพื่นที่</label>
                            <input id="name_area" type="text" value="กอญ่า มัจฉะ" class="form-control" disabled>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">จังหวัด</label>
                            <input id="province" type="text" value="097-6780699" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="row mb-3" id="row-staff">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">ชื่อหน่วยงาน</label>
                            <input id="organization_name" type="text" value="-" class="form-control" disabled>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">หมายเหตุ</label>
                            <input id="description" type="text" value="-" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">ชื่อ</label>
                            <input id="name" type="text" value="กอญ่า มัจฉะ" class="form-control" disabled>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">เบอร์โทรศัพท์</label>
                            <input id="telephone" type="text" value="097-6780699" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">ลงวันที่:</label>
                            <input id="create_date" type="text" value="09/06/2564" class="form-control" disabled>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">สถานะ</label>
                            <input id="status" type="text" value="อนุมัติ" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <label for="exampleFormControlTextarea1" class="form-label">ทีอยู่จัดส่ง</label>
                            <textarea class="form-control" id="address" rows="3"
                                disabled>169 ถนน ลงหาดบางแสน ตำบลแสนสุข อำเภอเมืองชลบุรี ชลบุรี 20131</textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">น้ำขวดขนาด 350 มล.</label>
                            <input id="water_350_ml" type="number" value="10" class="form-control" disabled>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">น้ำขวดขนาด 500 มล.</label>
                            <input id="water_500_ml" type="number" value="0" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">น้ำขวดขนาด 750 มล.</label>
                            <input id="water_750_ml" type="number" value="0" class="form-control" disabled>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">น้ำขวดขนาด 1500 มล.</label>
                            <input id="water_1500_ml" type="number" value="10" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">น้ำแกลอน 5 ล.</label>
                            <input id="water_5_l" type="number" value="0" class="form-control" disabled>
                        </div>
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">น้ำแกลอน 20 ล.</label>
                            <input id="water_20_l" type="number" value="0" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6 col-sm-12">
                            <label class="form-label">น้ำขนาดอื่น ๆ ล.</label>
                            <input id="water_else_l" type="number" value="0" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-grid gap-2 col-xl-6 col-md-12 mx-auto p-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ย้อนกลับ</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#table_water_application_management').DataTable({
        responsive: true,
        pageLength: 5,
        "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]],
        "ajax": {
            "url": baseUrlAPI + "Request_application/get_forms/?area_id=" + $state.user.area_id,
            "type": "POST",
            "beforeSend": function (xhr) { xhr.setRequestHeader('Authorization', $state.user.token); },
        },
        "columnDefs": [{
            "targets": 0,
            "data": "name",
            "render": function (data, type, row, meta) {
                return '<div class="pl-5 d-flex justify-content-start align-items-center"><i class="bi bi-person-circle" style="font-size: 50px" ></i> &emsp; <span value="' + data + '">' + data + '</span></div>'

            }
        },
        {
            "targets": 1,
            "data": "province",
            "render": function (data, type, row, meta) {
                data = data?data:'จังหวัดกรุงเทพมหานคร'
                return '<div class="pl-5 d-flex justify-content-center align-items-center">' + data?data:'จังหวัดกรุงเทพมหานคร' + '</span></div>'

            }
        },
        {
            "targets": 2,
            "data": "water_350_ml",
            "render": function (data, type, row, meta) {
                return '<div class="pl-5 d-flex justify-content-center align-items-center">' + data + ' ขวด</span></div>'

            }
        },
        {
            "targets": 3,
            "data": "water_750_ml",
            "render": function (data, type, row, meta) {
                return '<div class="pl-5 d-flex justify-content-center align-items-center">' + data + ' ขวด</span></div>'

            }
        },
        {
            "targets": 4,
            "data": "water_1500_ml",
            "render": function (data, type, row, meta) {
                return '<div class="pl-5 d-flex justify-content-center align-items-center">' + data + ' ขวด</span></div>'

            }
        },
        {
            "targets": 5,
            "data": "water_5_l",
            "render": function (data, type, row, meta) {
                return '<div class="pl-5 d-flex justify-content-center align-items-center">' + data + ' แกลอน</span></div>'

            }
        },
        {
            "targets": 6,
            "data": "water_20_l",
            "render": function (data, type, row, meta) {
                return '<div class="pl-5 d-flex justify-content-center align-items-center">' + data + ' แกลอน</span></div>'

            }
        },
        {
            "targets": 7,
            "data": "create_date",
            "render": function (data, type, row, meta) {
                return `<div  class="d-flex justify-content-center mt-4"> <p> ${data}</p> </div>`
            }
        },
        {
            "targets": 8,
            "data": "status",
            "render": function (data, type, row, meta) {
                return `<div class=" align-items-center mt-4 text-center">
                                        <span class="fs-6 badge ${data == 'unapprove' ? 'bg-warning' : 'bg-success'}" >${data == 'approve' ? 'อนุมัติ' : 'รออนุมัติ'}</span> 
                                    </div>`
            }
        },
        {
            "targets": 9,
            "data": "id",
            "render": function (data, type, row, meta) {
                return `

                <div class="d-flex flex-wrap justify-content-evenly align-items-center">

                            <button style="min-width:155px;" class="mt-3 btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-tools"></i> &nbspดำเนินการ
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
                                <li >
                                        <a onclick="get_request_form_by_id('${row.id}')" class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i> ดูรายละเอียด</a>
                                    </li>
                                <li>
                                        ${row.status == 'unapprove' ? '<a onclick="approve_request_form_by_id(' + row.id + ')" class="dropdown-item  pointer"><i class="bi bi-check"></i> อนุมัติคำร้อง </a> ' : ''}
                                    </li>
                            </ul>
                        <button onclick="delete_request_form_by_id('${row.id}')" style="min-width:155px;" type="button" class="mt-3 btn btn-danger"><i class="bi bi-trash"></i> ลบ</button>
                    </div>
                            `

            }
        }
        ]
    });
    wait_load_page()
    $('.title_area').text($state.user.title)
</script>