<p class="text-light" style="z-index: 1; position: absolute;left: 20px;
top: 110px;"><a href="#/library" class="text-light text-decoration-none">คลังข้อมูลกำลัังผลิตน้ำ</a> &nbsp;/&nbsp;<a
        class="text-light" href="#/staff-application">แบบฟอร์มบันทึกข้อมูลกำลังผลิตน้ำ</a></p>
<img src="assets/images/themes/staff-report-01.jpg" class="img-fluid" alt="...">
<div class="text-center mt-5 mb-5 ">
    <span class="fs-1">แบบฟอร์มบันทึกข้อมูลกำลังผลิตน้ำ</span>
    <!-- <div class="d-flex flex-row justify-content-center  col-md-12"> -->
    <br>
    <br>
    <br>

    <!-- </div> -->
</div>

<div class="row pb-5 ">

    <div class="mb-3">
        <label class="form-label">ลงวันที่</label>
        <input type="date" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">หมายเหตุ</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">น้ำขวดขนาด 350 มล.</label>
            <input type="text" placeholder="กรอกจำนวน..." class="form-control">
        </div>
        <div class="col">
            <label class="form-label">คุณภาพของน้ำขวดขนาด 350 มล.</label>
            <div class="row">
                <div class="input-group col">
                    <span class="input-group-text">น้ำดี</span>
                    <input value="0" readonly type="text" class="form-control">
                </div>
                <div class="input-group col">
                    <span class="input-group-text">น้ำเสีย</span>
                    <input value="0" readonly type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">น้ำขวดขนาด 750 มล.</label>
            <input type="text" placeholder="กรอกจำนวน..." class="form-control">
        </div>
        <div class="col">
            <label class="form-label">คุณภาพของน้ำขวดขนาด 750 มล.</label>
            <div class="row">
                <div class="input-group col">
                    <span class="input-group-text">น้ำดี</span>
                    <input value="0" readonly type="text" class="form-control">
                </div>
                <div class="input-group col">
                    <span class="input-group-text">น้ำเสีย</span>
                    <input value="0" readonly type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">น้ำขวดขนาด 1500 มล.</label>
            <input type="text" placeholder="กรอกจำนวน..." class="form-control">
        </div>
        <div class="col">
            <label class="form-label">คุณภาพของน้ำขวดขนาด 1500 มล.</label>
            <div class="row">
                <div class="input-group col">
                    <span class="input-group-text">น้ำดี</span>
                    <input value="0" readonly type="text" class="form-control">
                </div>
                <div class="input-group col">
                    <span class="input-group-text">น้ำเสีย</span>
                    <input value="0" readonly type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">น้ำแกลอนขนาด 5 ล.</label>
            <input type="text" placeholder="กรอกจำนวน..." class="form-control">
        </div>
        <div class="col">
            <label class="form-label">คุณภาพของน้ำแกลอนขนาด 5 ล.</label>
            <div class="row">
                <div class="input-group col">
                    <span class="input-group-text">น้ำดี</span>
                    <input value="0" readonly type="text" class="form-control">
                </div>
                <div class="input-group col">
                    <span class="input-group-text">น้ำเสีย</span>
                    <input value="0" readonly type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">น้ำแกลอนขนาด 20 ล.</label>
            <input type="text" placeholder="กรอกจำนวน..." class="form-control">
        </div>
        <div class="col">
            <label class="form-label">คุณภาพของน้ำแกลอนขนาด 20 ล.</label>
            <div class="row">
                <div class="input-group col">
                    <span class="input-group-text">น้ำดี</span>
                    <input value="0" readonly type="text" class="form-control">
                </div>
                <div class="input-group col">
                    <span class="input-group-text">น้ำเสีย</span>
                    <input value="0" readonly type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success">บันทึก</button>
    </div>
</div>
<script>
    wait_load_page()
</script>