<p class="text-light" style="z-index: 1; position: absolute;left: 20px;
top: 110px;"><a href="#/library" class="text-light text-decoration-none">คลังข้อมูลกำลัังผลิตน้ำ</a> &nbsp;/&nbsp;<a
        class="text-light" href="#/staff-report">รายการบันทึกข้อมูลกำลังผลิตน้ำ<span class="title_area"></span></a></p>
<img src="assets/images/themes/staff-report-01.jpg" class="img-fluid" alt="...">
<div class="text-center mt-5 mb-5 ">
    <span class="fs-1">รายการบันทึกข้อมูลกำลังผลิตน้ำ <span class="title_area"></span> </span>
    <!-- <div class="d-flex flex-row justify-content-center  col-md-12"> -->
    <br>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <input type="date" class="form-control selector_date" style="max-width: 15rem;">
        &nbsp;&nbsp;
        <button onclick="get_by_date()" type="button" class=" btn btn-success">ค้นหา</button>
    </div>

    <!-- </div> -->
</div>

<div class="row pb-5 ">
    <div class="col-12 text-center d-flex align-items-center justify-content-center">
        <span class=" fs-3">กำลังการผลิตน้ำทั้งหมดประจำวันที่ <span class="showDate"></span></span>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary dnt"><i class="bi bi-cloud-download"></i>&nbsp;ดาวน์โหลด
            Excel</button>
        &nbsp;&nbsp;&nbsp;
        <button onclick="edit_input_form()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
            class="btn text-light" style="background-color: #6f42c1;"><i class="bi bi-pencil"></i>&nbsp;แก้ไข</button>
    </div>
    <div class="col-12 text-start mb-1 ">
        <div class="clearfix"></div>
        <div id="bar_hart2" style=" width: 100%; min-height: 450px; display: inline-block; margin: 0 auto;"></div>
    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered  modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">แก้ไขรายการบันทึกข้อมูล</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row pb-5 ">
                    <input type="hidden" id="water_input_id">
                    <div class="mb-3">
                        <label class="form-label">ลงวันที่</label>
                        <input type="text" value="02/07/2564" class="form-control" disabled>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">หมายเหตุ</label>
                        <textarea  id="water_input_description" class="form-control" rows="3">หมายเหตุการบันทึกน้ำ
                        </textarea>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">น้ำขวดขนาด 350 มล.</label>
                            <input id="water_input_350_ml" type="text" placeholder="กรอกจำนวน..." value="0"
                                class="form-control input_form">
                        </div>
                        <div class="col">
                            <label class="form-label">คุณภาพของน้ำขวดขนาด 350 มล.</label>
                            <div class="row">
                                <div class="input-group col">
                                    <span class="input-group-text">น้ำดี</span>
                                    <input id="good_water_350_ml" value="0" readonly type="text" class="form-control">
                                </div>
                                <div class="input-group col">
                                    <span class="input-group-text">น้ำเสีย</span>
                                    <input id="bad_water_350_ml" value="0" readonly type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">น้ำขวดขนาด 750 มล.</label>
                            <input id="water_input_750_ml" type="text" placeholder="กรอกจำนวน..." value="0"
                                class="form-control input_form">
                        </div>
                        <div class="col">
                            <label class="form-label">คุณภาพของน้ำขวดขนาด 750 มล.</label>
                            <div class="row">
                                <div class="input-group col">
                                    <span class="input-group-text">น้ำดี</span>
                                    <input id="good_water_750_ml" value="0" readonly type="text" class="form-control">
                                </div>
                                <div class="input-group col">
                                    <span class="input-group-text">น้ำเสีย</span>
                                    <input id="bad_water_750_ml" value="0" readonly type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">น้ำขวดขนาด 1500 มล.</label>
                            <input id="water_input_1500_ml" type="text" placeholder="กรอกจำนวน..." value="0"
                                class="form-control input_form">
                        </div>
                        <div class="col">
                            <label class="form-label">คุณภาพของน้ำขวดขนาด 1500 มล.</label>
                            <div class="row">
                                <div class="input-group col">
                                    <span class="input-group-text">น้ำดี</span>
                                    <input id="good_water_1500_ml" value="0" readonly type="text" class="form-control">
                                </div>
                                <div class="input-group col">
                                    <span class="input-group-text">น้ำเสีย</span>
                                    <input id="bad_water_1500_ml" value="0" readonly type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">น้ำแกลอนขนาด 5 ล.</label>
                            <input id="water_input_5_l" type="text" placeholder="กรอกจำนวน..." value="0"
                                class="form-control input_form">
                        </div>
                        <div class="col">
                            <label class="form-label">คุณภาพของน้ำแกลอนขนาด 5 ล.</label>
                            <div class="row">
                                <div class="input-group col">
                                    <span class="input-group-text">น้ำดี</span>
                                    <input id="good_water_5_l" value="0" readonly type="text" class="form-control">
                                </div>
                                <div class="input-group col">
                                    <span class="input-group-text">น้ำเสีย</span>
                                    <input id="bad_water_5_l" value="0" readonly type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">น้ำแกลอนขนาด 20 ล.</label>
                            <input id="water_input_20_l" type="text" placeholder="กรอกจำนวน..." value="0"
                                class="form-control input_form">
                        </div>
                        <div class="col">
                            <label class="form-label">คุณภาพของน้ำแกลอนขนาด 20 ล.</label>
                            <div class="row">
                                <div class="input-group col">
                                    <span class="input-group-text">น้ำดี</span>
                                    <input id="good_water_20_l" value="0" readonly type="text" class="form-control">
                                </div>
                                <div class="input-group col">
                                    <span class="input-group-text">น้ำเสีย</span>
                                    <input id="bad_water_20_l" value="0" readonly type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-grid gap-2 col-xl-6 col-md-12 mx-auto p-2">
                    <button onclick="submit_edit_input_form()" data-bs-dismiss="modal" type="button" class="btn btn-success">บันทึก</button>
                </div>
                <div class="d-grid gap-2 col-xl-6 col-md-12 mx-auto p-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    config_water_id = 0
    water_input_id = 0
    water_5_l = 0
    water_20_l = 0
    water_350_ml = 0
    water_750_ml = 0
    water_1500_ml = 0
    bad_water_5_l = 0
    bad_water_20_l = 0
    bad_water_350_ml = 0
    bad_water_750_ml = 0
    bad_water_1500_ml = 0
    good_water_5_l = 0
    good_water_20_l = 0
    good_water_350_ml = 0
    good_water_750_ml = 0
    good_water_1500_ml = 0
    $('.title_area').text($state.user.title)
    date = new Date().toISOString().substr(0, 10)
    $('.selector_date').val(date);
    date2 = new Date(...date.split("-"))
    result2date = date2.toLocaleDateString('th-TH', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
    })
    $('.showDate').text(result2date)

    $(window).resize(function () {
        if ($('#bar_hart2')[0]) {
            drawChart();
        }
    });
    google.charts.load('current', { packages: ['corechart'] })
    google.charts.setOnLoadCallback(drawChart)
    function drawChart() {
        data = google.visualization.arrayToDataTable([
            ['ขนาดบรรจุภัณฑ์', 'กำลังการผลิต(หน่วย)', { role: 'style' }],
            ['ขวด 350 มล.', water_350_ml, '#3366cc'],            // RGB value
            ['ขวด 750 มล.', water_750_ml, '#dc3912'],            // English color name
            ['ขวด 1500 มล.', water_1500_ml, '#ff9900'],
            ['แกลอน 5 ล.', water_5_l, '#109618'], // CSS-style declaration
            ['แกลอน 20 ล.', water_20_l, '#990099'], // CSS-style declaration
        ]);

        options = {
            title: 'กำลังการผลิตน้ำทั้งหมด',
            legend: 'none'
        };

        chart = new google.visualization.BarChart(document.getElementById('bar_hart2'));
        chart.draw(data, options)
    }
    get_by_date()
    wait_load_page()
    $('.dnt').click(function (e) {
        e.preventDefault();

        window.open(baseUrlAPI + 'Input_application/report_execel/' + $state.user.id + '/' + $('.selector_date').val(), '_blank').focus();
    });

    $(document).on('input', '.input_form', function () {
        water_350_ml = $('#water_input_350_ml').val()
        water_750_ml = $('#water_input_750_ml').val()
        water_1500_ml = $('#water_input_1500_ml').val()
        water_5_l = $('#water_input_5_l').val()
        water_20_l = $('#water_input_20_l').val()
        $('#good_water_350_ml').val(Number(good_water_350_ml) * Number(water_350_ml))
        $('#bad_water_350_ml').val(Number(bad_water_350_ml) * Number(water_350_ml))
        $('#good_water_5_l').val(Number(good_water_5_l) * Number(water_5_l))
        $('#bad_water_5_l').val(Number(bad_water_5_l) * Number(water_5_l))
        $('#good_water_20_l').val(Number(good_water_20_l) * Number(water_20_l))
        $('#bad_water_20_l').val(Number(bad_water_20_l) * Number(water_20_l))
        $('#good_water_1500_ml').val(Number(good_water_1500_ml) * Number(water_1500_ml))
        $('#bad_water_1500_ml').val(Number(bad_water_1500_ml) * Number(water_1500_ml))
        $('#good_water_750_ml').val(Number(good_water_750_ml) * Number(water_750_ml))
        $('#bad_water_750_ml').val(Number(bad_water_750_ml) * Number(water_750_ml))
    });
</script>

<style>
    .border-3d {
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
        border-radius: 10px;
        margin-left: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
    }

    .card.nook {
        margin-left: 8%;
        margin-right: 8%;
        border: none;
    }

    .card-header.nook,
    .card-body.nook,
    .card-footer.nook {
        border: none;
        background-color: #e2e9ef;
    }

    .row.nook {
        padding: 5px;
    }

    .all.nook {
        background-color: #e2e9ef;
    }

    .line.nook {
        display: block;
        height: 10px;
        border-bottom: solid 3px gray;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 15px;
    }

    .line.nook span {
        display: inline-block;
        background-color: #e2e9ef;
        padding: 0 20px;
    }

    .form-check.nook {
        padding-top: 5px;
    }
</style>